.CitiesAppRoot{

}

.CitiesAppRoot .map{
    z-index: 10;
}

.CitiesAppRoot .chart{
    z-index: 20;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom:-10px; 

    transform: translate(-50%,0);

    /* border: 1px solid red; */
}

/* .CitiesAppRoot .recharts-wrapper{
    padding: 0;
} */



.CitiesAppRoot .chart .recharts-legend-wrapper{

    border: 1px solid red;
}


